body{
    font-family: 'Libre Baskerville', serif;
}
h1{
    font-size: 40px;
}
.left-border{
    border-left: 5px solid;
}
.red-color{
    color: red;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
   padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(black, hotpink);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
}
h1{
    text-align: center;
}
.fix-batton{
    margin-top: 30px;
}
.green-color{
    color: green;
}
.margin-top{
    margin-top: 5%;
}
.illastrator{
    width: 35%;
}
.my-mission{
    width: 25%;
    border-radius: 5%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(203, 216, 203);
}
.my-vission{
    width: 25%;
    border-radius: 5%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(108, 114, 108);
}
.my-goals{
    width: 25%;
    border-radius: 5%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(221, 217, 217);
}
#unlimit{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: 220px 150px;
    background-size: 150px;
}
.no-limit{
    width: 40%;
    margin-top: 5%;
    padding-left: 5%;
}
.no-limit img{
    width: 60%;
    padding-left: 40%;
}
.read-doc{
    text-decoration: none;
    background-image: linear-gradient(black, hotpink);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%; 
}
.know-global{
    display: flex;
}
.target-to-know{
    width: 50%;
    margin-top: 5%;
    padding-left: 7%;
    padding-bottom: 100px;
}
.target-to-know img{
    width: 50%;
}
#add-bg{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: 320px 180px;
    background-size: 150px;
}
.population{
    color: yellow;
}
.color{
    color: hotpink;
}
.read-problems{
    text-decoration: none;
    background-image: linear-gradient(black, hotpink);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%; 
}
.bd-poblem{
    display: flex;
}
.popolation-problem{
    width: 50%;
    margin-top: 3%;
    padding-left: 5%;
}
.popolation-problem{
    width: 50%;
}
.margin{
    margin-top: 5%;
}
.text-color{
    color: red;
}
footer p{
    text-align: center;
}
.bg-color{
    background-color: black;
    color: white;
    margin-top: 5%;  
}