body{
    font-family: 'Libre Baskerville', serif;
}
h1{
    font-size: 40px;
}
.left-border{
    border-left: 5px solid;
}
.red-color{
    color: red;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
   padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(black, hotpink);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
}
h1{
    text-align: center;
}
.green-color{
    color: green;
}
.margin-top{
    margin-top: 5%;
}
.illastrator{
    width: 35%;
}
.my-mission{
    width: 25%;
    border-radius: 5%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(203, 216, 203);
}
.my-vission{
    width: 25%;
    border-radius: 5%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(108, 114, 108);
}
.my-goals{
    width: 25%;
    border-radius: 5%;
    margin-left: 5%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(221, 217, 217);
}
.unlimit{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.no-limit{
    width: 40%;
    margin-top: 5%;
    padding-left: 5%;
}
.no-limit img{
    width: 60%;
    padding-left: 40%;
}
.read-doc{
    text-decoration: none;
    background-image: linear-gradient(black, hotpink);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%; 
}
.know-global{
    display: flex;
}
.target-to-know{
    width: 50%;
    margin-top: 10%;
    padding-left: 7%;
}
.target-to-know img{
    width: 50%;
}